**/.env
/old
/output
/cleaned_output
/budget_output

.DS_Store
__pycache__/
*.pyc

# Node modules
node_modules/
package-lock.json

# Temporarily removed ChromaDB ignores to commit database


# Database files
*.sqlite3
*.db
chroma_db/
src/chroma_db/

/2025-Budget-Worksheets
/documents

/improve_rag

/src/chroma_db_courses
/src/chroma_db_financeV1
/src/debug_queries/*
/src/documents/step1_text_extraction/output/bills.json
/src/documents/step2_chunking/output/bills_chunked.json
/src/documents/step2_chunking/output/bills_chunked_metadata.json

/text_extraction_methods/hawaii_chunked_content.json
/text_extraction_methods/hawaii_complete_content.json
/src/documents/bills_chunked.json
/src/documents/storage_documents/*
/src/documents/extracted_text/*
/src/documents/chunked_text/*
/text_extraction_methods/fiscal_note_gen
/src/neo4j_credentials.txt
/src/src

/k8s-deployment.yaml
/k8s-secrets.yaml
/src/myenv

/src/bill_data/document_vectors.json
/src/bill_data/introduction_document_vectors.json

# Fiscal notes and user-generated data
/src/fiscal_notes/generation/*
